.page-box .section-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 4.438rem
}

.page-box .section-1 input {
  max-width: 31.25rem;
  width: 100%;
  height: 4.375rem;
  background-color: #fff;
  border: none;
  padding-left: 1.563rem
}

.page-box .section-1 input::-moz-placeholder {
  font-family: SourceHanSansCN-Regular;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #bfbfbf
}

.page-box .section-1 input:-ms-input-placeholder {
  font-family: SourceHanSansCN-Regular;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #bfbfbf
}

.page-box .section-1 input::placeholder {
  font-family: SourceHanSansCN-Regular;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #bfbfbf
}

.page-box .section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.page-box .section-2 ul {
  display: flex;
  flex-wrap: wrap
}

.page-box .section-2 ul li {
  width: 5rem;
  display: flex;
  position: relative;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem
}

.page-box .section-2 ul li a {
  font-family: SourceHanSansCN-Regular;
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0;
  color: #545454;
  white-space: nowrap
}

.page-box .section-2 ul li:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: .125rem;
  content: "";
  display: block;
  background-color: transparent
}

.page-box .section-2 ul li.active:after,
.page-box .section-2 ul li:hover:after {
  background-color: #b11e23
}

.page-box .section-2 div.line-box {
  width: 67.438rem;
  height: .25rem;
  background-color: #fff;
  margin-top: 1.125rem
}

.page-box .section-3 {
  width: 100%;
  margin-top: 5.063rem;
  padding-bottom: 5rem
}

.page-box .section-3 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap
}

.page-box .section-3 ul li {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 4.688rem
}

.page-box .section-3 ul li a {
  width: 10.25rem;
  height: 12.063rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.page-box .section-3 ul li a:hover img {
  width: 110%
}

.page-box .section-3 ul li a img {
  width: 100%
}

.page-box .section-3 ul li a div {
  font-family: SourceHanSansCN-Regular;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #000
}

@media only screen and (max-width:560px) {
  html .page-box .section-2 ul li {
    width: 7.5rem
  }
  html .page-box .section-2 ul li.zhazha{
    width: 14rem !important;
  }
  html .page-box .section-2 ul li a {
    white-space: nowrap;
    font-size: 2em
  }

  html .page-box .section-3 li {
    width: 33.3%;
    margin-bottom: 2rem
  }
}

@media only screen and (max-width:400px) {
  html {
    font-size: 8px
  }

  html .page-box .section-1 {
    margin-top: 2rem
  }
}