.page-box .section-1 .carousel-indicators {
  justify-content: flex-start;
  margin: 0 0 2.375rem 6.125rem
}

.page-box .section-1 .carousel-indicators li {
  margin-right: .375rem;
  width: 6.188rem;
  height: .375rem;
  background-color: #ccc;
  opacity: .48
}

.page-box .section-1 .carousel-indicators li.active {
  background-color: #b11e23
}

.page-box .section-1 .type-des-box {
  display: flex
}

.page-box .section-1 .type-des-box li {
  position: relative;
  width: 20%;
  padding-top: 19.5%
}

.page-box .section-1 .type-des-box li:first-child {
  background-color: #d9656a
}

.page-box .section-1 .type-des-box li:first-child img {
  width: 3.313rem;
  height: 4.875rem
}

.page-box .section-1 .type-des-box li:nth-child(2) {
  background-color: #d55a5f
}

.page-box .section-1 .type-des-box li:nth-child(2) img {
  width: 4.938rem;
  height: 4.688rem
}

.page-box .section-1 .type-des-box li:nth-child(3) {
  background-color: #cf4c51
}

.page-box .section-1 .type-des-box li:nth-child(3) img {
  width: 4.375rem;
  height: 4.563rem
}

.page-box .section-1 .type-des-box li:nth-child(4) {
  background-color: #ca3f44
}

.page-box .section-1 .type-des-box li:nth-child(4) img {
  width: 4rem;
  height: 4.688rem
}

.page-box .section-1 .type-des-box li:nth-child(5) {
  background-color: #b11e23
}

.page-box .section-1 .type-des-box li:nth-child(5) img {
  width: 5.625rem;
  height: 4.688rem
}

.page-box .section-1 .type-des-box li a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.page-box .section-1 .type-des-box li a .text-box {
  margin-top: 2.125rem;
  font-family: SourceHanSansCN-Regular;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  line-height: .978rem;
  letter-spacing: 0;
  color: #fff
}

.page-box .section-2 {
  display: flex;
  margin-top: 3.563rem;
  justify-content: space-between;
  flex-wrap: wrap
}

.page-box .section-2 ul.content-list-1 {
  max-width: 61.813rem
}

.page-box .section-2 ul.content-list-1 li {
  height: 13.875rem;
  background-color: #fff;
  margin-bottom: 1.75rem
}

.page-box .section-2 ul.content-list-1 li:hover {
  box-shadow: .5rem .5rem .5rem rgba(139, 138, 138, .7254901960784313)
}

.page-box .section-2 ul.content-list-1 li a {
  display: flex;
  height: 100%;
}

.page-box .section-2 ul.content-list-1 li a img {
  width: 28.5rem;
  height: 13.938rem
}

.page-box .section-2 ul.content-list-1 li a .text-info {
  flex: 1;
  /*padding: 1.75rem 1.375rem;*/
  margin: 1.75rem 1.375rem;
}

.page-box .section-2 ul.content-list-1 li a .text-info p {
  font-family: SourceHanSansCN-Regular;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1.2rem;
  letter-spacing: 0;
  color: #000;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.page-box .section-2 ul.content-list-1 li a .text-info span {
  font-family: SourceHanSansCN-Regular!important;
  font-size: 1rem!important;
  font-weight: 400!important;
  line-height: 1.2rem!important;
}
.page-box .section-2 .right-box {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1.313rem
}

.page-box .section-2 .right-box ul.content-list-2 {
  border: .063rem solid #b8b8b8;
  width: 100%;
  max-width: 21.125rem;
  padding: 2.125rem 1.13rem 2.063rem
}

.page-box .section-2 .right-box ul.content-list-2 li.title {
  font-family: SourceHanSansCN-Regular;
  font-size: 1.125rem;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1.35rem;
  letter-spacing: 0;
  color: #545454;
  margin-bottom: 2.188rem
}

.page-box .section-2 .right-box ul.content-list-2 li.item-box {
  display: flex;
  margin-bottom: 2.438rem;
  border: 1px solid transparent
}

.page-box .section-2 .right-box ul.content-list-2 li.item-box:hover {
  border-color: #b11e23
}

.page-box .section-2 .right-box ul.content-list-2 li.item-box a {
  height: 4.438rem;
  display: flex;
  align-items: center;
  flex: 1
}

.page-box .section-2 .right-box ul.content-list-2 li.item-box a img {
  max-width: 4.375rem;
  width: 100%;
  height: 100%;
  margin-right: 2.625rem
}

.page-box .section-2 .right-box ul.content-list-2 li.item-box a .text-box {
  font-family: SourceHanSansCN-Regular;
  font-size: .875rem;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: 0;
  color: #545454
}

.page-box .section-2 .right-box ul.content-list-2 li.btn {
  display: flex;
  justify-content: center
}

@media only screen and (max-width:1300px) {
  html .page-box .section-2 {
    padding: 1.5rem
  }

  html .page-box .section-2 ul.content-list-1 {
    max-width: 680px;
    width: 75%
  }

  html .page-box .section-2 ul.content-list-1 li {
    height: 13rem
  }

  html .page-box .section-2 ul.content-list-1 li a img {
    width: 18rem;
    height: auto
  }
}

@media only screen and (max-width:760px) {
  html .page-box .section-2 {
    flex-direction: column;
    padding: 1.5rem
  }

  html .page-box .section-2 ul.content-list-1 {
    max-width: 100%;
    width: 100%
  }

  html .page-box .section-2 ul.content-list-1 li {
    height: auto
  }

  html .page-box .section-2 ul.content-list-1 li a {
    flex-direction: column
  }

  html .page-box .section-2 ul.content-list-1 li a img {
    width: 100%
  }

  html .page-box .section-2 .right-box {
    padding-left: 0
  }

  html .page-box .section-2 .right-box ul.content-list-2 {
    max-width: 100% !important
  }
  .page-box .section-2 ul.content-list-1 li a .text-info p {
    font-family: SourceHanSansCN-Regular;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
    font-stretch: normal;
    /*line-height: 1.875rem;*/
    line-height: 2rem;
    letter-spacing: 0;
    white-space: nowrap;
    color: #000;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media only screen and (max-width:520px) {
  html *{
    font-size: 1rem;
  }
  .page-box .section-2 ul.content-list-1 li a .text-info{
    /* max-height: 14.3rem; */
    overflow: hidden;
  }

  .page-box .section-1 .type-des-box li:first-child img {
    width: 2.48475rem;
    height: 3.65625rem
  }

  .page-box .section-1 .type-des-box li:nth-child(2) img {
    width: 3.7035rem;
    height: 3.516rem
  }

  .page-box .section-1 .type-des-box li:nth-child(3) img {
    width: 3.28125rem;
    height: 3.42225rem
  }

  .page-box .section-1 .type-des-box li:nth-child(4) img {
    width: 3rem;
    height: 3.516rem
  }

  .page-box .section-1 .type-des-box li:nth-child(5) img {
    width: 4.21875rem;
    height: 3.516rem
  }

  .page-box .section-1 .type-des-box li a .text-box {
    margin-top: 1.25rem
  }

  .page-box .section-1 .carousel-indicators {
    margin-bottom: .3rem
  }
}